.navBarContainer {
    background-color: black;

}

.navList {
    display: flex;
    gap: 30px;
    padding: 20px;
    list-style: none;
}

.navList__link {
    text-decoration: none;
    color: white;
}